ARGS='--web.listen-address=:9100 --web.telemetry-path="/metrics" --collector.systemd --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc|run|boot|var/snap|var/lib/docker/overlay2|var/lib/containers/storage/overlay)(\$\$|/)'